<!DOCTYPE html>
<html >
<head>
  	<meta charset="UTF-8">
  	<title>Login Form</title> 
  	<link rel="stylesheet" type="text/css" href="./css/styles.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
			var response = angular.module('response', []);
	
			response.controller('responseControl',function($scope,$http,$window) 
			{
								
				$scope.login=function login(user,pwd)	{	
				
						//GET request 
						var url = "http://localhost:8080/AirBnB/web/user/auth?email="+user+"&pwd="+pwd;
						
					$http.get(url).then(
							function(payload) {
								console.log( payload.data);
								window.location = "profile.html";
                
							},
							function() {
								$window.alert("wrong credentials");
							});
					
				}
				
				$scope.signup=function(){
					window.location = "signup.html";
				}
			});
		</script>
</head>

<body ng-app="response" ng-controller="responseControl">
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Air<span>BNB</span></div>
		</div>
		<br>
		<div class="login">
			<form>
			<input type="text" placeholder="email"  ng-model="user" required><br>
			<input type="password" placeholder="password"  ng-model="password" required><br>
			<input type="button" value="Login" ng-click=login(user,password)>
			</form>
			
			<input type="button" value="Signup" ng-click=signup()>
		</div>

</body>
</html>
